@import url('reset.css');

body {
    background-color: #1e1e1e;
    font-size: 1.6rem;
}


footer,
section {
    padding: 5rem;
    max-width: 96rem;
    margin: 0 auto;
}

footer,
p {
    flex-direction: column;
    font-size: 1.6rem;
}

h2 {
    font-size: 4rem;
    font-weight: 700;
}

.inspecionar {
    border: 2px solid red;
}

.itens-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    padding: 2rem 6rem;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    font-size: 1.8rem;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.6rem;
}

.main {
    margin-bottom: 5rem;
}

.avatar {
    border-radius: 100%;
    width: 24rem;
    height: 24rem;
    margin-right: 10rem;
}

.main-title {
    font-size: 4rem;
}

.main-description {
    margin: 4rem 0;
    font-size: 1.6rem;
}

.main-button {
    border-radius: 0.2rem;
    background-color: #0039cc;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.2rem;
}

.about {
    background-color: #162340;
}

.about-description {
    font-size: 1.6rem;
}

.project {
    margin: 4rem 0;
}

.project-image {
    width: 24rem;
    height: 18rem;
    margin-right: 2.5rem;
    border-radius: 0.6rem;
}

.project-title {
    font-size: 3rem;
}

.project-description {
    font-size: 1.6rem;
}

.footer-social {
    display: flex;
    gap: 2rem;
}

/* Configuração de responsividade abaixo */

@media (max-width: 1200px) {
    .itens-center {
        flex-direction: column;
    }

    footer,
    section {
        padding: 5rem;
    }

    .main {
        margin-bottom: 2rem;
    }

    .main-title {
        font-size: 2rem;
    }

    .project-image {
        width: 38rem;
        height: auto;
    }

    .nav-links {
        justify-content: center;
    }

    .avatar {
        width: 18rem;
        height: 18rem;
        margin-right: 0;
    }
}